<!DOCTYPE html>
<html>
  <head>
    <title>HUMANS FOR SALE</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <header>
      <div>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="username"/>
          <input type="text" name="username" placeholder="password"/>
          <button id="logging">Log In</button>
        </form>
      </div>
    </header>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username"/>
      <input type="text" name="name" placeholder="name"/>
      <input type="text" name="email" placeholder="email address"/>
      <input type="password" name="password" placeholder="password"/>
      <input type="password" name="password" placeholder="type your password again"/>
    </form>
  </body>
</html>
